.Rproj.user
.Rhistory
.Rdata
.Rbuildignore
.httr-oauth
.DS_Store
inst/scripts/.RData
CENTREannotation.Rcheck/
CENTREannotation_0.99.0.tar.gz
inst/extdata/ENCODEAnnotation-GRCh38-cCREsV3.db
inst/extdata/gencode_hg38_v40.db
